body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.falling-object {
    width: 200px;
    height: 10%;
    background-color: #3498db;
    position: absolute;
    top: -20px;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        top: -20px;
    }
    100% {
        top: calc(100vh - 20px);
    }
}

.falling-object-string {
    background-color: aliceblue;
    font-size: 20px;
    font-style: oblique;
    width: auto;
    height: auto;
    position: relative;
}